<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Date Posted</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of posts">
      <td>{{p.id}}</td>
      <td >{{p.title}}</td>
      <td>{{p.content}}</td>
      <td>{{p.datePosted}}</td>
      <td><a [routerLink]="['/editPost',p.id]" class="text-decoration-none text-dark">Edit</a></td>
      <td><a style="cursor: pointer;" (click)="deletePost(p.id!)" class="text-decoration-none text-dark">Delete</a></td>
    </tr>

  </tbody>
</table>
<button routerLink="/addPost" class="rounded-2 mt-3 p-1" >New Post</button>

